# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment files
.env         
!env/.env.example  
!.env.example  

# Django database
*.sqlite3

# Django media & static
media/
staticfiles/
src/apps/**/static/
src/common/static/
*.log

# Django compiled translation files
*.pot
*.mo

# Migrations (optional: track only if you want)
src/apps/**/migrations/__pycache__/
src/apps/**/migrations/*.py[cod]

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
*.swp
*.swo
*.bak

# Testing / coverage
.coverage
htmlcov/
*.cover
coverage.xml
pytest_cache/
.pytest_cache/
.tox/

# Docker override / build files
docker-compose.override.yml
docker/*.log
docker/**/logs/

# Uvicorn / development lock
uv.lock
